body {
    color: white;
    font-family: Maximum Impact;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(88, 88, 88, 0.75);
    border-radius: 10px;
}